
@use "./variables" as *;

.accordion-section {
    background-color: $viola-scuro;
    border: 1px solid rgba($grigio-lt, 0.2); 
    border-radius: 20px; 
    margin-top: 3rem;
    margin-bottom: 3rem;

    .accordion-title {
        color: #fff;
        font-family: 'Kanit', sans-serif;
        font-weight: 700;
        font-size: clamp(1.8rem, 5vw, 2.5rem); // Si adatta tra mobile e desktop
        margin-top: 1rem;
    }

    .accordion {
        
        --bs-accordion-border-color: rgba(#{$grigio-lt}, 0.1);
        --bs-accordion-bg: transparent;
        --bs-accordion-btn-bg: transparent;
        --bs-accordion-active-bg: transparent; // Non cambia colore quando aperto
        --bs-accordion-btn-color: #fff; // Testo bianco per la domanda
        --bs-accordion-active-color: #fff;
        --bs-accordion-btn-focus-box-shadow: none;

        .accordion-item {
            background-color: transparent;
            border-left: none;
            border-right: none;

            &:last-child {
                border-bottom: none; // Rimuove l'ultima riga interna
            }
        }

        .accordion-button {
            padding: 1.5rem 1rem;
            font-size: 1.1rem;
            
            // Icona della freccia sottile
            &::after {
                filter: invert(1);
                transition: transform 0.3s ease;
            }
        }

        .accordion-body {
            color: $grigio-lt;
            padding-bottom: 2rem;
            line-height: 1.6;
        }
    }
}
