@use "./variables" as *;

.accordion-section {
    background-color: $scuro;

    .accordion {
        // Manteniamo solo la logica dei colori e bordi
        --bs-accordion-bg: #{$scuro};
        --bs-accordion-color: #{$grigio-lt};
        --bs-accordion-border-color: rgba(#{$grigio-lt}, 0.1);
        --bs-accordion-btn-bg: #{$scuro};
        --bs-accordion-btn-color: #{$grigio-lt};
        --bs-accordion-active-bg: #{rgba($viola, 0.1)};
        --bs-accordion-active-color: #ffffff;
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #{rgba($viola, 0.25)};
        
        border-radius: 8px;
        overflow: hidden;
    }

    .accordion-button {
        &::after {
            filter: invert(1) brightness(0.8);
        }
        &:not(.collapsed)::after {
            filter: invert(1) brightness(1);
        }
    }
}
