/*
@font-face {

  font-family: "LinkSans";
  src:
    url("../assets/fonts/aFTR7PB1QTsUX8KYvrGyEYOtbYf-Vlg.woff2") format("woff2"),
    url("../assets/fonts/aFTR7PB1QTsUX8KYvumzEYOtbYf-Vlg.woff2") format("woff2"),
    url("../assets/fonts/aFTU7PB1QTsUX8KYthqQBK6PYK0.woff2") format("woff2"),
    url("../assets/fonts/L0x5DF4xlVMF-BfR8bXMljhLq3-cXbKD.woff2") format("woff2"),
    url("../assets/fonts/NGSwv5HMAFg6luGlBNMjxLsH8ahuQ2e8.woff2") format("woff2"),
    url("../assets/fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50Sjla1ZL7W0Q5nw.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
*/

@import url('https://googleapis.com');

$font-main: 'Kanit', sans-serif;

// Applicazione globale
body {
  font-family: $font-main;
  -webkit-font-smoothing: antialiased; // Rende i caratteri più nitidi su Mac/Chrome
}

h1, h2, h3, .navbar-brand {
  font-weight: 800; // Titoli belli spessi stile cinema
  letter-spacing: -0.02em; // Riduce leggermente lo spazio tra le lettere per un look più "pro"
}
