// Palette colori

$viola: #39264d; // sfondo navbar
$viola-chiaro: #5e3a7e;
$viola-scuro: #2b2233;
$bludark: #19222d;
$scuro: #00050d;
$grigio-lt: #a6b6c6;
$rosa-logo: #ba145b;
$rosa-logo-chiaro: #e85c9b; // hover logo
$bianco: #fff;
$grigio-molto-chiaro: #c4c4c4;
$rosso-scuro: #6e1c28;
$giallo: #c3ac52;
$giallo-chiaro: #e5d1a9;
$verde: #4f7f6a;
$verde-chiaro: #7aad85;

// FONTS
$font-main: "Kanit", sans-serif;
$font-family-base: $font-main;