@use "./variables" as *;

@use "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

@use "../../node_modules/bootstrap/scss/bootstrap.scss" with (
  $theme-colors: (
    "viola": $viola,
  )
);

.card-img-top {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
}
