// percorso dove stanno i file .woff2
$bootstrap-icons-font-src: url("../assets/fonts/bootstrap-icons.woff2") format("woff2"),
  url("../assets/fonts/bootstrap-icons.woff") format("woff");

// Importa il file SCSS delle icone (che userà la variabile sopra)
@use "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";


@use "./variables" as *;
@use "./fonts" as *;


@use "./navbar";
@use "./accordion";

@use "./hero";
@use "./footer";

@use "./privacy";


@use "./login";

@use "../../node_modules/bootstrap/scss/bootstrap.scss" with ($theme-colors: ("viola": $viola,

    "scuro": $scuro,
    "grigio-chiaro": $grigio-lt,



    "viola-chiaro": $viola-chiaro,
    "viola-scuro": $viola-scuro,
    "bludark": $bludark,



    "rosa-logo": $rosa-logo,
    "rosa-logo-chiaro": $rosa-logo-chiaro,

    "bianco": $bianco,

    "grigio-molto-chiaro": $grigio-molto-chiaro,

    "rosso-scuro": $rosso-scuro,

    "giallo": $giallo,
    "giallo-chiaro": $giallo-chiaro,


    "verde": $verde,
    "verde-chiaro": $verde-chiaro,


  ));


@use "./cards";

body {

  background-color: $viola-scuro;
  color: $grigio-molto-chiaro;
}